<style type="text/css">
<!--
-->
</style>
<link href="../static/css/style.css" rel="stylesheet" type="text/css" />
{% include "header.html" %}
<style type="text/css">
<!--
.STYLE4 {font-size: 24px}
-->
</style>
<title>MFPOJ</title><div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="jumbotron">
				<h1 align="center"><p style="color:#3399FF"><font size="60px" face="Comic Sans MS">Welcome to MFPOJ! </font></p>
				</h1>
		  </div>
		</div>
	</div>
	
{% include "footer.html"%}
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<center><font color=#D6AAFF><script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>  
	
  <p><span id="busuanzi_container_site_pv">Your IP: {{ip}} | Total visits: <span id="busuanzi_value_site_uv"></span></span></p></font></center>
</div>"
